<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<title>NOTICIAS NOTICIOSAS DE AYER Y HOY</title>

</head>

<body style="background-color:#E7C6A0">

	<h1 style="text-align:center">Noticias que no importan</h1>
	<div class="contenedor">
		<div class="noticia">
			<strong><p th:text="'Noticia 1: '+${noticia0_titulo}+'!'" /></strong>
			<img alt="" th:src="${noticia0_imagen}" />
			<p th:text="${noticia0_noticia}+'!'" />
		</div>
		<div class="noticia">
			<strong><p th:text="'Noticia 2: '+${noticia1_titulo}+'!'" /></strong>
			<img alt="" th:src="${noticia1_imagen}" />
			<p th:text="${noticia1_noticia}+'!'" />
		</div>
		<div class="noticia">
			<strong><p th:text="'Noticia 3: '+${noticia2_titulo}+'!'" /></strong>
			<img alt="" th:src="${noticia2_imagen}" />
			<p th:text="${noticia2_noticia}+'!'" />
		</div>
		<div class="noticia">
			<strong><p th:text="'Noticia 4: '+${noticia3_titulo}+'!'" /></strong>
			<img alt="" th:src="${noticia3_imagen}" />
			<p th:text="${noticia3_noticia}+'!'" />
		</div>
		<div class="noticia">
		<strong><p th:text="'Noticia 5: '+${noticia4_titulo}+'!'" /></strong>
		<img alt="" th:src="${noticia4_imagen}" />
		<p th:text="${noticia4_noticia}+'!'" />
		</div>
	</div>
</body>

</html>