<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
		crossorigin="anonymous">

		<title >NOTICIAS NOTICIOSAS DE AYER Y HOY</title>
	</head>
	<body style="background-color:#E7C6A0">
	
		<h1 style="text-align:center">Noticias</h1>
		<p th:text="'Noticia 1: '+${nombre1}+'!'"/>
		<p th:text="'Noticia 2: '+${nombre2}+'!'"/>
		<p th:text="'Noticia 3: '+${nombre3}+'!'"/>
		
	</body>
</html>